section {
    display: block !important;
    opacity: 1 !important;
  }
  
  .justify-content-center{
    z-index: 1;
}

.row {
  margin-top:1px;
}
.top-space {
  margin-top: 10px !important;
}








