.percentage85{
    padding-left: 277px;
}

.percentage98{
    padding-left: 400px;
}

.name{
    margin-top: -23px;
    color: white;
}


.progress-bar {

    background-color: rgb(255, 255, 255);
}
.text-blue{
    color: rgb(81, 81, 196);
}

.text-purple{
    color: rgb(196, 81, 158);
}