.sliderab {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .slider-itemsp {
    display: inline-flex;
    gap: 20px; /* space between logos */
  }
  
  .slider-itemsp img {
    height: auto;
    max-height: 100px;
    object-fit: contain;
  }
  