.lets {
    color:white !important;
  }
  
  .feather{
    color:white ;
  }
  .more{
    color:black;
  }
  .btn:hover {
    color: white !important;
  }

  .image-success{
    margin-top: 354px;
    opacity: 1 !important;
  }